body, html {
    background-color: #FFAA00;
    text-align:center;
    vertical-align:middle;
	height:100%;
	width:100%;
}

#slideShowTitle {
    text-align: center;
    font-size: 72px;
    font-family: "Arial", Times, serif;
}

#caption {
    text-align: center;
    font-size: 28px;
    font-family: "Arial", Times, serif;
    word-wrap: break-word;
}

#section{
    height:80%;
    max-height:80%;
    min-height:80%;
}

#slide{
    max-height:100%;
}

#previous{
        font-family: "Arial", Times, serif;
  background: #d9aa34;
  background-image: -webkit-linear-gradient(top, #d9aa34, #663c08);
  background-image: -moz-linear-gradient(top, #d9aa34, #663c08);
  background-image: -ms-linear-gradient(top, #d9aa34, #663c08);
  background-image: -o-linear-gradient(top, #d9aa34, #663c08);
  background-image: linear-gradient(to bottom, #d9aa34, #663c08);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 2px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#previous:hover {
  background: #ffdd00;
  text-decoration: none;
}
#auto{
        font-family: "Arial", Times, serif;
  background: #d9aa34;
  background-image: -webkit-linear-gradient(top, #d9aa34, #663c08);
  background-image: -moz-linear-gradient(top, #d9aa34, #663c08);
  background-image: -ms-linear-gradient(top, #d9aa34, #663c08);
  background-image: -o-linear-gradient(top, #d9aa34, #663c08);
  background-image: linear-gradient(to bottom, #d9aa34, #663c08);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 2px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#auto:hover {
  background: #ffdd00;
  text-decoration: none;
}
#next{
        font-family: "Arial", Times, serif;
  background: #d9aa34;
  background-image: -webkit-linear-gradient(top, #d9aa34, #663c08);
  background-image: -moz-linear-gradient(top, #d9aa34, #663c08);
  background-image: -ms-linear-gradient(top, #d9aa34, #663c08);
  background-image: -o-linear-gradient(top, #d9aa34, #663c08);
  background-image: linear-gradient(to bottom, #d9aa34, #663c08);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 2px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#next:hover {
  background: #ffdd00;
  text-decoration: none;
}